# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

host: "msbi.ipb-halle.de"
pathPrefix: "MassBank"

withPostgres: true
useSharedData: false
sharedDataPvcName: ""

# postgres settings
# the password for the postgres admin user
postgresPassword: &postgresPassword "massbankAdminPassword"
# the username for the postgres user
username: &username "massbank"
# the password for the postgres user
password: &password "massbankPassword"
# the name of the postgres database used by massbank-export-api
massbankExportApiDatabase: &massbankExportApiDatabase "records"

image:
  repository: quay.io/massbank/massbank-export-api

# postggresql config
# for massbank we need a special version of postgres with bingo cartridge
postgres:
  image:
    tag: "17.7"
  auth:
    postgresPassword: *postgresPassword
    username: *username
    password: *password
    database: *massbankExportApiDatabase

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels:
  app: massbank-export-api

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 8080

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
  hosts:
    - host: "{{ .Values.host }}"
      paths:
        - path: "/{{ .Values.pathPrefix }}-export"
          pathType: Prefix
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: "/{{ .Values.pathPrefix }}-export/version"
    port: http
  initialDelaySeconds: 150
  periodSeconds: 60
  timeoutSeconds: 10
  failureThreshold: 6
readinessProbe:
  httpGet:
    path: "/{{ .Values.pathPrefix }}-export/version"
    port: http
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 4
  failureThreshold: 3

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false

# Additional volumes on the output Deployment definition.
volumes:
  - name: massbank-data-volume
    emptyDir: { }

# Additional volumeMounts on the output Deployment definition.
volumeMounts:
  - name: massbank-data-volume
    mountPath: "/MassBank-data"

nodeSelector: {}

tolerations: []

affinity: {}
