apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "massbank-data.fullname" . }}-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.storageSize }}
