apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "massbank-data.fullname" . }}-pvc
  labels:
    {{- include "massbank-data.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.storageSize }}
